@tailwind base;
@tailwind components;
@tailwind utilities;


.description > p {
    @apply mt-2
}

.description ul {
    padding-left: 20px;
}

.description li {
    margin-bottom: 4px;
    position: relative;
}

.description li::before {
    content: '';
    position: absolute;

    width: 14px;
    height: 1.35px;
    background-color: #212121;

    top: 12px;
    left: -20px;
}